.btn_color{
    background-color: $bright-waves-5-hex;
    color: $bright-waves-3-hex;
    
}

.btn_reset{
    background-color: $bright-waves-5-hex;
    color: darkred;

}

.border_color{
    border: 1px solid $bright-waves-3-hex
}

.color_fuente{
    color: $bright-waves-3-hex;

}
