/* Color Theme Swatches in Hex */
$bright-waves-1-hex: #B0C1D9;
$bright-waves-2-hex: #0477BF;
$bright-waves-3-hex: #024873;
$bright-waves-4-hex: #048ABF;
$bright-waves-5-hex: #038C8C;

/* Color Theme Swatches in RGBA */
$bright-waves-1-rgba: rgba(175,193,216, 1);
$bright-waves-2-rgba: rgba(3,119,191, 1);
$bright-waves-3-rgba: rgba(1,72,114, 1);
$bright-waves-4-rgba: rgba(3,137,191, 1);
$bright-waves-5-rgba: rgba(3,140,140, 1);

/* Color Theme Swatches in HSLA */
// $bright-waves-1-hsla: hsla(215, 35, 77, 1);
// $bright-waves-2-hsla: hsla(203, 95, 38, 1);
// $bright-waves-3-hsla: hsla(202, 96, 22, 1);
// $bright-waves-4-hsla: hsla(197, 95, 38, 1);
// $bright-waves-5-hsla: hsla(180, 95, 28, 1);